<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentication</title>
    <link rel="stylesheet" type="text/css" href = "{{ url_for('static',filename='styles/auth.css') }}">
</head>
<body>
    <div class = "login">
        <h2>OptionsAi Login</h2>
        <form id = "box" action="form" method = "POST">
            <p>Username <input type = "text" name = "username" id = "Uname" /></p>
            <p>Password <input type = "password" name = "password" id = "Pass"/></p>
            <p><input type = "submit" value = "submit" id="submit"/></p>
        </form>

        {% if error %}
            <p class = "error"><i>{{error}}</i></p>
        {% endif %}
    </div>
</body>
</html>